<% @title='Comic Releases' %>
<head>
  <title></title>
</head>
<body>
  <h2 id='whitehead'>Comic Releases</h2>
  <form action='/issues' method='get' class='small-12 medium-8 medium-centered large-6 large-centered columns'>
    <label for='date'>Enter a date (hint: make it a Wednesday)</label>
    <input type='text' name='date' id='date' value="<%= @date %>" placeholder='eg: 2016-03-02 or Mar 2nd, 2016'>
    <div class="small-12 large-6 columns">
      <label>Order By</label>
      <input id="publisher" name='publisher' type="radio"><label for="publisher">Publisher</label>
      <input id="issue" name='issue' type="radio"><label for="issue">Issue Name</label>
    </div>
    <button type='submit' class='button small round'>Submit</button>
  </form>
<hr>
<div >
  <%= @message %>
</div>
<% if !@issues.nil? %>
  <p>
    <div  class='small-12 medium-12 large-12 columns'>
      <table class='hover'>
        <thead>
          <tr>
            <th width="200">Title</th>
            <th width="200">Publisher</th>
          </tr>
        </thead>
        <tbody>
          <% @issues.each do |issue| %>
            <tr>
              <td><a href="/issues/<%= issue.id %>"><%= issue.title %></a></td>
              <td><%= issue.publisher %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </p>
<% end %>
</body>     